/* colors used through out the project */
:root {
    --pastel-pink: #f6c3b9;
    --lavender: #c699f8;
    --peach-pink: #f6dedb;
    --sky-blue: #b2c5f4;
    --darker-purple: #aa86d3;
    --indigo-blue: #92a4f7;
    --dark-grey: #5d5d5d;
}

/* General styling to apply to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styling for Header Section */
header {
    background-color: var(--sky-blue);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: var(--darker-purple);
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.3vw;
}
header nav ul li a:hover {
    background-color: var(--pastel-pink);
    color: var(--dark-grey);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    font-weight: bold;
    border-radius: 20px;
}

/* styling for hero content */
.hero {
    display: flex;
    flex-wrap: wrap;
}
.hero-content {
    text-align: center;   
    flex: 1 60%;
    padding: 70px;
    color: var(--dark-grey);
    background-color: var(--peach-pink)
}

.hero-picture {
    background-color: var(--peach-pink);
    flex: 2 30.6%;
}


.hero-content span {
    font-size: 9.5vw;
    font-weight: lighter;
    padding-bottom: 10px;
}

#subtitle {
    font-size: 2.15vw;
    padding: 35px 0px 10px 0px;
    border-bottom: 2px solid var(--pastel-pink);
    margin: 0px 155px;
}

/* styling for About Me section */
.intro {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--indigo-blue);
    text-align: center;
    flex: 2 40%;
    margin-top: -2px;
}


.primary-content {
    flex: 2 60%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.primary-title {
    flex: 1 35.4%;
    background-color: var(--sky-blue);
    padding: 75px 20px 25px 20px;
    color: var(--dark-grey);
    font-size: 5vw;
    line-height: 1.2;
    height: 100%
}

.primary-content h3 {
    padding: 20px 65px 10px 64px;
    font-size: 3.5vw;
    color: var(--dark-grey);
    border-bottom: 3px solid var(--sky-blue);
    margin: 0px 200px 50px 200px;
}

.primary-content p {
    color: var(--dark-grey);
    padding: 10px 40px 20px 40px;
    line-height: 2.9;
}

/* styling for My Work section */
.work-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.secondary-title {
    flex: 2 35%;
    font-size: 4.4vw;
    padding: 165px 5px 0px 5px;
    background-color: var(--pastel-pink);
    color: var(--dark-grey);
    line-height: 1.3;
}

.secondary-content {
    flex: 1 65%;
    padding: 90px 15px 40px 15px;
    background-color: var(--peach-pink);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.secondary-content p {
    font-size: 1.8vw;
    line-height: 2.0;
    color: var(--dark-grey);
    padding-bottom: 30px;
}

.main-image {
    float: right;
}

/* styling for Contact Me section */

.contact-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--lavender);
}

.final-title {
    line-height: 1.5;
    flex: 1 5.6%;
    font-weight: lighter;
    background-color: var(--lavender);
    text-align: center;
    color: var(--dark-grey);
    font-size: 4vw;
    padding: 0px 30px;
}

.final-contact {
    flex: 1;
    padding: 50px 30px 0px 45px;
    font-size: 25px;
    line-height: 2.1;
    background-color: var(--darker-purple);
    height: 600px;
}

.final-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.final-contact li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.final-contact li::before {
    content: "💻";
}
.contact-subtitle {
    color: var(--dark-grey);
    font-size: 35px;
    border-bottom: 2px solid var(--sky-blue);
    text-align: left;
    margin: 0px 195px 25px 10px;
 }
.contact-form {
    flex: 1;
    text-align: left;
    padding: 55px 50px 0px 50px;
    line-height: 1.25;
    font-size: 18px;
    background-color: var(--darker-purple);
    color: var(--dark-grey);
    height: 600px;
}
.final-contact p {
    /* text-align: center; */
    color: var(--dark-grey);
    font-size: 25px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    border: 1px solid (var--dark-grey);
    display: block;
    padding: 7px 8px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.contact-form p {
    font-size: 24px;
    border-bottom: 2px solid var(--sky-blue);
    margin: 0px 45px 25px 5px;
    padding: 10px 0px;
    line-height: 1;
    font-weight: bold;
}

.contact-form label {
    border-bottom: 1.5px solid var(--sky-blue);
}

.contact-form button {
    padding: 10px 25px;
    background-color: var(--sky-blue);
    border-radius: 10px;
    font-size: 15px;
    color: var(--dark-grey);
    margin: 10px 0px 0px 90px;
}

/* styling for footer section */
footer {
    font-size: 20px;
    padding: 20px 0px 20px 10px;
    background: var(--peach-pink);
    color: var(--darker-purple);
}

/* media queries for phones in portrait mode */
@media screen and (max-width: 575px) {

}
/* media queries for small tablets and phones in landscape */
@media screen and (max-width: 768px) {

}

/* media queries for smaller laptops and larger tablets */
@media screen and (max-width: 980px) {

}